{% extends 'base.html' %}

     {% block content %}

        {% if latest_question_list %}


       
            {% for question in latest_question_list %}
            
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                    <a a class="nav-link active" href="{% url 'votes:detail' question.id %}">{{ question.question_text }}</a>
                </li>
            </ul>
            {% endfor %}
       
        {% else %}
            <p>No votes are available.</p>
        {% endif %}
    
    {% endblock %}