{% extends 'base.html' %}

{% block content %}
    <h1>Welcome</h1>
    <p>Today is {{today}}</p>
    <a href="{% url 'entries.list' %}" class="btn btn-dark">View the entries</a>
    <hr/>
    <h4>Curator Features</h4>
    <p>Curator is designed to assist nonprofit arts organizations in selecting artistic and cultural entries in competitive calls. The goal of this app is to aid curators and their teams to ensure equitable selection processes.</p>
    <hr />
    <h5>Sample Scenario</h5>
        <h6>Call for Exhibition with Theme of Contemporary Portraiture</h6>
        <h2>Voting Results</h2>
        <div class="container text-center">
         
        
        <div class="container"> 
            <div class="justify-content-md-center">
            <div class="row row-cols-6">
                <div class="col">Artwork</div>
                <div class="col">Originality</div>
                <div class="col">Technique</div>
                <div class="col">Impact</div>
                <div class="col">Final Score</div>
            </div>
            <div class="row row-cols-6">
                <div class="col">Artwork 1</div>
                <div class="col">4.9</div>
                <div class="col">4.3</div>
                <div class="col">3.6</div>
                <div class="col">4.26</div>
            </div>
            <div class="row row-cols-6">
                <div class="col">Artwork 2</div>
                <div class="col">3.6</div>
                <div class="col">4.1</div>
                <div class="col">4.5</div>
                <div class="col">4.06</div>
            </div>
            <div class="row row-cols-6">
                <div class="col">Artwork 3</div>
                <div class="col">4.2</div>
                <div class="col">3.2</div>
                <div class="col">3.9</div>
                <div class="col">3.76</div>
            </div> 

        </div>
{% endblock %}