{% extends 'base.html' %}

{% block content %}
<h2>Entry Information</h2>

<form action="{% url 'entries.form' %}" method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary my-5">Update</button>
    <button type="submit" class="btn btn-danger my-5">Delete prior version</button>
    
</form>
<a href="{% url 'entries.list' %}" class="btn btn-secondary my-5">Back To List</a>

{% if form.errors %}
<div class="alert alert-danger my-5">
    {{form.errors.title.as_text}}
</div>
{% endif %}
{% endblock %}