{% extends 'base.html' %}

{% block content %}

<!-- This is where I need to add an if/then block to verify authorized or logged in users. It should look something like 

{% if user.authorized == True %}
...
{% endif %}

Duh, that's in the register file.
-->

<div class="border round">
    <h1 class="my-5">{{entry.artwork_title}}</h1>
    <p>{{entry.medium}}</p>
</div>

<a href="{% url 'entries.form' %}" class="btn btn-danger my-5">Delete Entry</a>
<a href="{% url 'entries.form' %}" class="btn btn-secondary my-5">Update Entry</a>
<a href="{% url 'entries.list' %}" class="btn btn-secondary my-5">Back to list</a>
{% endblock %}