{% extends 'base.html' %}

{% block content %}

<div class="border round">
    {% comment %} <img style="max-width: 1000px;" src="{{ entry.featured_image.url }}"> {% endcomment %}
    <h1 class="my-5">{{entry.artwork_title}}</h1>
    <p>{{entry.medium}}</p>

<p>{{entry.tag}}</p>
</div>

<hr>

{% for tag in artwork.tags.all %}
    <span class="border round" style="border:1px solid darkgrey;">{{entry.tag}}</span>
{% endfor %}

<a href="{% url 'entries.list' %}" class="btn btn-secondary my-5">Back to list</a>
<a href="{% url 'entries.update' pk=entry.pk %}" class="btn btn-secondary my-5">Update entry
    {% include './icons/pencil-fill.svg' %} 
</a>
<a href="{% url 'entries.confirm_delete' pk=entry.pk %}" class="btn btn-danger my-5">Delete Entry</a>
{% endblock %}