{% extends 'base.html' %}

{% block content %}
    <h1 class="my-5">These are the entries:</h1>
    <div class="row row-cols3 g-2"> 
            {% for entry in entries %}
            <div class="col"> 
                <div class="p-3 border">
                    <a href="{% url 'entries.detail' pk=entry.id %}" class="text-dark text-decoration-none">
                        <h3>{{entry.artwork_title}}</h3>
                    </a>
                    {{entry.medium}}
                </div>
            </div>
            {% endfor %}

        </div>
{% endblock %}